body{

font-family:
Tahoma,
Arial;

background:#f2f4f8;

margin:0;

}


.app{

max-width:600px;

margin:auto;

padding:20px;

}


header{

background:#202b3c;

color:white;

padding:20px;

border-radius:20px;

text-align:center;

}



.status{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:10px;

margin-top:20px;

}



.status div{

background:white;

padding:15px;

border-radius:15px;

text-align:center;

}



button{

width:100%;

padding:15px;

margin:8px 0;

border:0;

border-radius:15px;

font-size:16px;

background:#2563eb;

color:white;

}



.card{

background:white;

padding:20px;

margin-top:20px;

border-radius:20px;

}



label{

display:block;

padding:10px;

font-size:18px;

}